.Nav {
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
  padding: 30px 100px 30px 80px;
}
.NavbarWrapper {
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}
.NavLogo {
  float: left;
  font-size: 25px;
  font-weight: 900;
  margin: -8px 2px 1px 15px;
  transition: 0.2s ease-in;
}
.NavElements {
  display: inline;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 20px 10px 20px;
}

.NavButton {
  float: right;
  border-radius: 20px;
  margin: -8px 2px 1px 2px;
}
.Link {
  text-decoration: none;
  color: #333333;
}
.Link:hover {
  cursor: pointer;
  color: #e93a7d;
  border-radius: 20px;
  transition: 0.5ms;
}
.active {
  cursor: pointer;
  color: #2d7f73;
  border-radius: 20px;
  transition: 0.5ms;
}
.Icon {
  display: none;
  font-size: 25px;
  cursor: pointer;
  color: #333333;
  margin-right: 4em;
}
.sign-in-link {
  font-weight: 700;
  letter-spacing: 0.015em;
  color: #2d7f73 !important;
}
@media screen and (max-width: 925px) {
  .Nav {
    padding: 25px 0px 25px 20px;
  }
  .NavElements {
    display: none;
  }
  .NavButton {
    display: none;
  }
  .Icon {
    display: inline;
    position: relative;
    left: 35%;
  }
  .NavLogo {
    margin: 0;
    transition: 0.2s ease-in-out;
  }
}
